
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4da080;
    color: rgb(77, 99, 148);
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

section {
    padding: 20px;
}


#productos {
    background-color: #f9f9f9;
}

article {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
}

button {
    background-color: #4da080;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}


#contacto {
    background-color: #4da080;
    color: white;
    text-align: center;
    padding: 50px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
